<div class="banner d-flex justify-content-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1626814026160-2237a95fc5a0?q=80&w=3270&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);">
  <div class="container">
    <h1>Organize, Bookmark, Enjoy.</h1>
    <p>Keep track of all your favourite films in one place.</p>
  </div>
</div>

<div class="container">
  <h3 class="mb-4 fw-bold">Your lists</h3>


<div class="cards mb-5">
  <% @lists.each do |list| %>
  <div class="card-category d-flex align-items-center justify-content-center fw-bold fs-4 rounded-4" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%=list.post_url%>)" id="card-poster" >
      <p><%=link_to list.name, list_path(list)  %></p>
  </div>
  <% end  %>
</div>
</div>
