
<div class="container mt-5">
<div class="form-card bg-secondary p-5 rounded-5">
  <div class="container form-content">
<h2>Let's add a list!</h2>

<%= simple_form_for @list do |f| %>
  <%= f.input :name%>

  <%= f.button :submit , "Add list", class: 'btn btn-primary px-5 rounded-4 border'%>
<% end %>
</div>
  </div>

</div>
