.poster {
  width: 200px;

}

.card-title {
  min-height: 50px;
}

#close-bookmark {
  color: black;
  &:hover {
    color: rgb(188, 10, 10);
  }
  font-size: 24px;
  position: absolute;
  right: 10px;

}
